{% extends "base.html.twig" %}

{% block title %}
    Annonce #{{ room.id }}
{% endblock %}

{% block body %}
    <section class="page-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 mx-auto">
                    <img class="d-block img-fluid mx-auto mb-4"
                         src="{{ (room.imageName) ? vich_uploader_asset(room, 'imageFile') : 'http://placehold.it/900x350' }}"
                         alt="">
                </div>
            </div>
            <h2>
                {{ room.summary }}
                <a href="{{ path('public_room_show', {'id': room.id}) }}" class="bookmark ml-3">
                    {% if app.request.hasPreviousSession and room.id in app.session.get('bookmarks') %}
                        <i class="fas fa-bookmark"></i>
                    {% else %}
                        <i class="far fa-bookmark"></i>
                    {% endif %}
                </a>
            </h2>
            <p><span class="font-weight-bold">Description : </span>{{ room.description }}</p>
            <div class="row mb-4">
                <div class="col-md">
                    <ul class="list-group">
                        <li class="list-group-item"><span class="font-weight-bold">Capacité : </span>{{ room.capacity }}
                        </li>
                        <li class="list-group-item">
                            <span class="font-weight-bold">Superficie : </span>{{ room.surface }}
                        </li>
                        <li class="list-group-item"><span class="font-weight-bold">Prix : </span>{{ room.price }}</li>
                    </ul>
                </div>
                <div class="col-md">
                    <ul class="list-group">
                        <li class="list-group-item"><span class="font-weight-bold">Adresse : </span>{{ room.address }}
                        </li>
                        <li class="list-group-item"><span class="font-weight-bold">Région(s) : </span>
                            {% for region in room.regions %}
                                {{ region.name }},
                            {% endfor %}
                        </li>
                        <li class="list-group-item">
                            <span class="font-weight-bold">Propriétaire : </span>{{ room.owner }}
                        </li>
                    </ul>
                </div>
            </div>
            <a href="{{ path('front_office') }}" class="btn btn-primary">Retour</a>
            <a href="{{ path('room_book', {'id': room.id}) }}" class="btn btn-success">Réserver</a>
            <a href="{{ path('room_comments', {'id': room.id}) }}" class="btn btn-secondary">Consulter les
                commentaires</a>
            <a href="{{ path('public_room_comment', {'id': room.id}) }}" class="btn btn-warning">Laisser un
                commentaire</a>

            {% if is_granted("ROLE_OWNER") and room.owner == app.user.owner %}
                <a class="btn btn-info" href="{{ path('public_room_edit', {'id': room.id}) }}">Edit</a>
                {% include 'room/_delete_form.html.twig' %}
            {% endif %}
        </div>
    </section>
{% endblock %}

