{% extends 'base.html.twig' %}

{% block title %}
User index
{% endblock %}

{% block body %}
<section class="page-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading text-uppercase">User index</h2>
			</div>
			<div class="col-lg-12">
				<table class="table">
					<thead>
						<tr>
							<th>Id</th>
							<th>Email</th>
							<th>Firstname</th>
							<th>Familyname</th>
							<th>Roles</th>
							<th>actions</th>
						</tr>
					</thead>
					<tbody>
						{% for user in users %}
						<tr>
							<td>{{ user.id }}</td>
							<td>{{ user.email }}</td>
							<td>{{ user.firstname }}</td>
							<td>{{ user.familyname }}</td>
							<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
							<td><a class="btn btn-info btn-sm" href="{{ path('user_show', {'id': user.id}) }}">show</a> <a
								class="btn btn-secondary btn-sm" href="{{ path('user_edit', {'id': user.id}) }}">edit</a></td>
						</tr>
						{% else %}
						<tr>
							<td colspan="6">no records found</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>

				<a class ="btn btn-primary" href="{{ path('user_new') }}">Create new</a>
			</div>
		</div>
	</div>
</section>
{% endblock %}
